@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');


 * {

  margin: 0;
  padding: 0;
}


 body { 
background: #fff;
color: #222;
font-family: 'Montserrat', sans-serif;
font-weight: 300;

  }


.wrapper {
  width: 980px;
  margin: 100px auto;


}

header {
  position: relative;

}

header .logo 
{
  font-size: 20px;
  font-weight: 600;
}

header ul.nav {
  float: right;
  list-style: none;

}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;

}

header ul.nav li:hover {
  opacity: 0.5;


}



header .shop-cart-button {
  float: right;
  cursor: pointer;
  transition: color, transform 500ms ease;

}
header .shop-cart-button:hover,
header .shop-cart-button.active
 {
  color: #dc3d3d;
  transform: scale(1.5);


}

header .shop-cart {
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  /*min-height: 100px; */
  background: #e7e5e5;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26);
  z-index: 1000;
  padding: 20px;
  padding-bottom: 0;

}

header .shop-cart .empty h2{
  font-size: 15px;
  margin-bottom: 20px;

}

header .shop-cart .item {
  width: 100%;
  float: left;
  margin-bottom: 20px;


}

header .shop-cart .item img{
  width: 70px;
  float: left;
  margin-right: 20px;


}

header .shop-cart .item h2{
  
  font-size: 20px;
  margin-bottom: 10px;

}
header .shop-cart .item p{
  
  color: #5fa36a;
  font-weight: 600;

}

header .shop-cart .item .delete-icon {
  color: #dc3d3d;
  float: right;
  position: relative;
  top: -25px;
  cursor: pointer;
  transition: color, transform 500ms ease;


}
header .shop-cart .item .delete-icon:hover {
  color: #dc3d3d;
  transform: scale(1.5);


}

header .shop-cart .summa {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;

}

header .presentation {

  margin: 50px 0;
  background: url('./img/home-comfort-living-room-with-sofa-and-interior-details-homely-atmosphere-and-comfort-concept_169016-4419.jpg') no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
  transition: transform 500ms ease;

}

header .presentation::after {
  content: 'Лучшие товары для вашего дома';
  position: absolute;
  top: 50px;
  left: 30px;
  width: 300px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;

}
header .presentation::before {
  content: 'по лучшим ценам';
  position: absolute;
  top: 150px;
  left: 50px;
  width: 300px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;

}

.categories div {
  display: inline-block;
  background: #f2f2f2;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 25px;
  margin-right: 15px;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid transparent;
  transition: all 500ms ease;

}
.categories div:hover {
  border-color: silver;
  transform: scale(1.2);


}

.full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 10, 10, 0.712);
  z-index: 9999;
  overflow: auto;

}
.full-item > div {
  width: 280px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #f6faf7;
  border-radius: 9px;

}


main {
display: flex;
width: 100%;
flex-wrap: wrap;
justify-content: space-between;

}
main .item {
  width: 30%;
  margin-bottom: 50px;
  background: #f9faf9;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
  }
  
main .item img, .full-item img {
  width: 290px;
  height: 290px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
  overflow: hidden;
  cursor: pointer;

  }

main .item img:hover, .full-item img:hover {

    transform: scale(1.10);

  }
  
main h2, .full-item h2,
main p, .full-item p,
main b, .full-item b {
  margin: 10px 20px;
  color: #333;

}

main b, .full-item b {

  color: #5fa36a;
}

main .add-to-cart, 
.full-item .add-to-cart {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #c45252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;

}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
  transform: scale(1.5) translateY(-5px);
  transition: transform 500ms ease;

}

footer {
  text-align: center;
  margin-top: 50px;
}

